{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
    <div class="box-header">
        <h3 class="box-title">{{ settings.title }}</h3>
    </div>
    <div class="box-body">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="sonata-ba-list-label" width="30%">Dernières importations</td>
                    <td>Aucun import</td>
                </tr>
                <tr>
                    <td class="sonata-ba-list-label" width="30%">Nouvelles importations</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-link btn-flat" href="{{ url('admin_bfxmpl_budget_csvfile_create') }}">
                                <i class="fa fa-plus-circle"></i>
                                Importer des données bancaires
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
