/***** Général *****/
body {
    background-color: #A1AB4B;
    color: white;
}

h1 {
    color: #A3815B;
}

a,
a:visited,
a:hover {
    color: #940DFF;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {display: block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}



/***** Header *****/
#header_img {
    position: relative;
    float: left;
}
#header_text {
    position: relative;
    float: right;
    text-align: left;
}




/***** Body *****/
#menu_budget {
    position: relative;
}




/***** Entity List *****/
.records_list {
    width: 100%;
    padding: 1rem;
    border-collapse: collapse;
    border: 1px solid #A3815B;
}

.records_list thead, .records_list tfoot {
    background-color: #A3815B;
    border: 1px solid white;
}

.records_list tbody td {
    border: 1px solid white;
}

