# ####
# Composer.gitignore
# From https://github.com/github/gitignore/blob/master/Composer.gitignore
# ####
composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock





# ####
# Symfony2.gitignore
# From https://github.com/github/gitignore/blob/master/Symfony2.gitignore
# ####
# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
