{% extends '::base.html.twig' %}

{% set page_title = "Création de Compte Bancaire" %}

{% form_theme form with ['BfxmplBudgetBundle:Form:bootstrap-override.html.twig', 'BfxmplBudgetBundle:Form:bootstrap-form-horizontal.html.twig'] %}

{% block body -%}
    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('comptebancaire') }}">
                Retour à liste des comptes
            </a>
        </li>
    </ul>
{% endblock %}
