{% extends '::base.html.twig' %}

{% set page_title = "Import de données" %}

{% form_theme form with [
'BfxmplBudgetBundle:Form:bootstrap-override.html.twig',
'BfxmplBudgetBundle:Form:bootstrap-form-horizontal.html.twig'
] %}

{% block body -%}
    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="Upload Document" />
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('/importation/') }}">
                Retour à la liste des importations
            </a>
        </li>
    </ul>
{% endblock %}