{% extends '::base.html.twig' %}

{% set page_title = "Menu de l'application budget" %}

 {% block body %}
     <div id="menu_budget" class="row">
         <ul>
             <li><a href="{{ url('comptebancaire') }}">Comptes bancaires</a></li>
             <li><a href="{{ url('comptecomptable') }}">Compte comptables</a></li>
             <li><a href="{{ url('ecriture') }}">Ecritures</a></li>
         </ul>
     </div>
 {% endblock %}
